
/*body*/
$bg: #fcfaf8;

/*header*/
$bg-header: #ebae96;
$color-title-header: #f5f5f5;

/*nav*/

$color-text-nav: #3cb371;
$border-nav: #ebae96;


/*aside*/
$bg-aside: #d8f7e6;
$border-nav: #ebae96;
$color-text-aside: slateblue;

/*media max 800px*/
$bg-until-800px:  #e8f3f7;
$bg-color-header-800px:#4033f7;
$color-title-main: #3e05db;
$color-text-main:#030368;
$color-text-nav-800px:  #3509f8;
$color-border-nav-800px: #04bac0;
$bg-aside-800px:lightsteelblue;
$color-text-aside:#3509f8;

/*media 801-1200px*/
$bg-801-1200px:  #e6e6e6;
$bg-color-header-801-1200:#7a797a;
$border-nav-801-1200: #3a3a3a;
$color-text-nav-801-1200:  #058046;
$bg-aside-801-1200:#bbbbbb;
$color-text-aside-801-1200:#4d8601;





